*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    position:relative;
    background: #f8f8ff;
    font-family: 'Montserrat', sans-serif;
}
header h1{
    margin-bottom: 1em;
    padding-left: 20px;
    color:grey;
}
/* hide the modal when the main portfolio is displayed*/
.hidden{
    display:none;
}
/* CLASS */
.grid-container{
    display: grid;
    height:100%;
    grid-template-columns: repeat(3,1fr);
    
}

.card {
    display: flex;
    justify-content: center;
    padding:20px;
    margin:  15px;
    border: 2px solid grey;
    border-radius: 5px;
    background: mistyrose;
}


h2 {
    font-size: 18px;
    line-height: 2em;
}
p{
    font-size: 13px;
    line-height: 2em;
}

/*  For Modal  Window*/
.overlay{
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: rbga(100,100,100,0.4);
}
.modal {
    width: 375px;
    margin:15% auto auto;
    position:relative;
    text-align:center;
    background: #fff;
    border:1px solid #778;
    border-radius:5px;
    padding:30px 20px;
}
.modal-close {
    position:absolute;
    top:10px;
    right:20px;
    cursor: pointer;
}