*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    position:relative;
    background: #f8f8ff;
    font-family: 'Montserrat', sans-serif;
    min-height:100vh;
}
header h1{
    margin-bottom: 1em;
    padding-left: 20px;
    color:grey;
}
img {
    width:100px;
    height:100px;
    border-radius: 50%;
}
.hidden{
    display: none;
}
/* CLASS */
.grid-container{
    display: grid;
    height:100%;
    grid-template-columns: repeat(3,1fr);
}

.card {
    display: flex;
    justify-content: center;
    padding:20px;
    margin:  10px;
    border: 1px solid grey;
    box-shadow: 2px 1px teal;
    border-radius: 5px;
    background: mistyrose;
   
}
.text-container{
    margin-left:25px;
}


h2 {
    font-size: 18px;
    line-height: 2em;
}
p{
    font-size: 13px;
    line-height: 2em;
}

/*  For Modal  Window*/
.overlay{
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background :rgba(100,100,100,.4);
    
}
.modal {
    width: 375px;
    margin:8% auto auto;
    position:relative;
    text-align:center;
    background: #fff;
    border:1px solid #778;
    border-radius:5px;
    padding:40px 20px;
    
   
}

.modal-close {
    position:absolute;
    top:10px;
    right:20px;
    cursor: pointer;
}
